input{
	jdbc{
		clean_run=> true
		jdbc_driver_library=> "C:/logstash-8.1.2-windows-x86_64/mysql-connector-java-5.1.36.jar"
		jdbc_driver_class=> "com.mysql.jdbc.Driver"
		jdbc_connection_string=> "jdbc:mysql://localhost:3306/leetCode"
		jdbc_user=> "root"
		jdbc_password=> "root"
		schedule=> "* * * * *"
		statement=>"select id,name,gender,salary,location,deptId from employee"
	}
}
output{
	file{
		path => "output.txt"
	}

}